streamlit==1.36.0
langchain>=0.0.340
langchain-community==0.2.5
langchain-core==0.2.9
langchain-openai==0.1.9
langchain-text-splitters==0.2.1
faiss-cpu
konlpy
pymupdf
jpype1
rank_bm25
kiwipiepy
langchain_upstage==0.1.7
pandas
IPython
langgraph
scikit-learn
cosine_similarity
matplotlib
seaborn
plotly
streamlit_modal
python-dotenv
requests
gdown
tiktoken
openai
